* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.hero {
    background-image: url(../pictures/heroBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.header-wrapper{
    background:rgba(94, 93, 88, 0.6);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 25px;
}

.header-menu{
    display: flex;
}

.search-logo{
    margin-right: 380px;
    width: 21.09px;
    height: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.header-logo{
    display: flex;
    margin-right: 300px;
    align-items: center;
    margin-left: 380px;
}

.main-logo{
    width: 58px;
    height: 65px;
    background:#18CFAB;
    clip-path: polygon(0 26%, 50% 0, 100% 26%, 100% 79%, 50% 100%, 0 79%);
    display: flex;
    justify-content:center;
    align-items: center;
}

.main-logo-text{
    margin-left: 5px;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.ham-span{
    color: #18CFAB;
    font-weight: bold;
}

.logo{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 31px;
}

.header-menu-link{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

.header-menu-link:before{
    content: "";
    background: #18CFAB;
    height: 2px;
    position: absolute;
    top: 65px;
    left: 0px;
    transition: 0.5s;
    width: 0;
    bottom: 0;
}

.header-menu-item{
    list-style-type: none;
    margin-right: 20px;
}

.header-menu-link:hover{
    color: #18CFAB;
}

.header-menu-link:hover::before{
    width: 100%;
}

.search-logo-img{
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}

.search-logo-img:hover{
    color: #18CFAB;  
}

.hero-text{
    text-align: center;
    font-size: 35px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 260px;
}

.hero-span{
    color: #18CFAB;
}

.hero-title{
    text-align: center;
    font-weight: bold;
    font-size: 78px;
    color: #FFFFFF;
    margin-top: 20px;
    text-transform: uppercase;
}

.hero-subtitle{
    text-align: center;
    font-size: 34px;
    color: #D4D4D4;
    margin-top: 20px;
    text-transform: capitalize;
}

.button-wrapper{
    display: flex;
    justify-content:center;
}


.hero-button{
    text-align: center;
    margin-top: 135px;
    margin-right: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 15px;
    background: #18CFAB;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
    width: 169px;
    margin-bottom: 240px;
}

.hero-button:nth-child(2){
    background: #00CBF6
}

.advantages{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.advantages-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 480px;
    background: #1C2A33;
}

.advantages-item:nth-child(2n){
    background: #18CFAB;
    color:#FFFFFF;
}

.advantages-img{
    margin: 85px 210px 45px 210px;
    height: 100px;
    width: 60px;
}

.advantages-text{
    margin-bottom: 110px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
}

.advantages-text-white{
    margin-bottom: 110px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-title::before{
    content: "";
    width: 80px;
    border: 1px solid #18CFAB;
    position: absolute;
    top: 161px;
    left: 510px;
}

.section-title::after{
    content: "";
    width: 80px;
    border: 1px solid #18CFAB;
    position: absolute;
    top: 166px;
    left: 541px;
}

.centered-tabs{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.our-tabs{
    display:flex;
    width: 950px;
}

.tabs-title{
    font-size: 15px;
    line-height: 39px;
    color: #717171;
    padding :15px;
    margin-bottom: 25px;
    margin-left: px;
    border: 1.5px solid #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
}

.tabs-title:hover{
    border: 1.5px solid #18CFAB;
}

.tabs-title.active{
    position: relative;
	background: #18CFAB;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}

.tabs-title.active:after, .tabs-title:before{
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
}

.tabs-title.active:after {
	border-color: rgba(24, 207, 171, 0);
	border-top-color: #18CFAB;
	border-width: 15px;
	margin-left: -15px;
}

.tabs-title.active:before {
	border-color: rgba(0, 0, 0, 0);
	border-width: 21px;
	margin-left: -21px;
}

.tab-text{
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-left: 15px;
}

.tab-pic{
    height: 140px;
    width: 190px;
}

.tab{
    display: none;
}

.tab.active{
    display: flex;
    width: 950px;
    
}

.our-services{
    margin-bottom: 90px;
     height: 425px; /*задал высоту, чтобы секция снизу не скакала в зависимости от контента таба*/
}

.is-ready{
    background-image: url(../pictures/isReadyBackground.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: 50% 50%;
    padding: 10px;
    height: 475px;
}

.is-ready-title{
    font-weight: bold;
    font-size: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 125px;
}

.is-ready-subtitle{
    font-size: 16px;
    line-height: 40px;
    color: #D4D4D4;
    margin-bottom: 65px;
}

.is-ready-button{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 15px;
    background: #18CFAB;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
    width: 169px;
    margin-bottom: 125px;
}

.amazing-work{
    background: #E9EDEF;
    padding-bottom: 90px;
}

.section-title{
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    padding-top: 80px;
    position: relative;
    display:block;
}

.amazing-list{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.amazing-menu-item{
    padding: 15px 25px 15px 25px;
    border: 1px solid #DADADA;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    transition: 0.5s;
    margin-bottom: 70px;
}

.amazing-menu-item:hover{
    border: 1px solid #18CFAB;  
    color: #18CFAB;
    cursor: pointer; 
}

.amazing-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.amazing-item-image{
    position: relative;
    overflow: hidden;
    width: 280px;
}

.hover-amazing-items{
    display: flex;
    justify-content: center;
    height: 211px;
    border-top: 3px solid  #18CFAB;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background: #E9EDEF;
    top: 211px;
    width: 100%;
    transition: 0.5s;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
} 


.search-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.stop {
    border: 2px solid #18CFAB;
    margin-left: 5px;
    color: #18CFAB;
}

.stop:hover{
    color: #FFFFFF;
    background:#18CFAB;
}

.link:hover{
    color: #FFFFFF;
    background:#18CFAB;
}

.link {
    border: 2px solid #18CFAB;
    margin-right: 5px;
    color: #18CFAB;
}

.amazing-item-image:hover .hover-amazing-items {
    top: 0;
}

.amazing-hover-title{
    color: #18CFAB;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 20px;
}

.amazing-hover-subtitle{
   
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;

}

.hide {
    display: none;
}

.load-more{
    display:flex;
    justify-content: center;
    width: 168px;
    background-color: #18CFAB;
    text-align: center;
    margin-top: 70px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 42px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.add{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.more-items{
    display: none;
}

.news-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-top: 100px;
}

.news-link{
    position: relative;
}

.news-link:hover .news-hover{
    background: #18CFAB;
}

.news-link:hover .news-text{
    color: #18CFAB;
}

.news-hover{
    background: #203E38;
    position: absolute;
    top: 0px;
    left: 193px;
    width: 70px;
    height: 69px;
    text-align: center;
    padding: 10px;
    transition: 0.5s;
}

.news-hover-text{
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.news-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-left: 15px;
    transition: 0.5s;
}

.news-subtext{
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    margin-left: 10px;
    display: flex;
}


.about-us{
    background-image: url(../pictures/aboutUs\ background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 120px;
}

.people-say-background {
    display: flex;
    justify-content: center;
}

.content-block-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1160px;
}

.authors-main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.services-people-say {
    padding-top: 100px;
    font-size: 36px;
    position: relative;
    color: #ffffff;
}

.people-say-line::before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 250px;
    position: absolute;
}

.people-say-line::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 260px;
    position: absolute;
}

.description-author {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    margin-top: 46px;
    text-align: center;
}

.fa-quote-left-people-say {
    color: #18cfab;
    font-size: 30px;
    margin-top: 105px;
}

.name-author {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-top: 43px;
}

.position-author {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.mini-photo {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
    transition: all .3s;
    margin: 0 20px;
}

.mini-photo:hover {
    cursor: pointer;
}

.mini-circle-border {
    border: 1px solid #18cfab;
    transform: translateY(-10px);
    transition: all .3s;
}

.image-block-author {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #18cfab;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 27px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.image-author {
    height: 100%;
}

.scroll-block-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;
    width: 480px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(188, 188, 188);
}

.square:hover {
    background-color: #18cfab;
    cursor: pointer;
}

.fa-angle {
    color: white;
    font-size: 13px;
}

.slider {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #22353f;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
}

.copyright-rights {
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-right: 5px;
}

.logo-ham-footer {
    color: #18cfab;
    font-size: 14px;
    font-weight: 300;
    margin-right: 10px;
    position: relative;
}

.logo-ham-footer::after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #aeaeae;
    top: 2px;
    left: 62px;
    position: absolute;
}


