.item {
    width: 300px;
    height: 300px;


    background-color: indianred;

    animation-name: test-animation;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    transition-timing-function: linear;
    animation-play-state:running;
    animation: test-animation 1s, test-animation2 2s;
}

@keyframes test-animation {
    0%{
        margin-left: 0px;
    }
    50%{
        margin-top: 50px;
    }
    100%{
        margin-left: 300px;
    }
}


@keyframes test-animation2 {




}