.text-block {
    color: red;
    /*display: inline;*/
    width: 300px;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;

}

.line-height {
    line-height: 2;
}

.word-wrap {
    color: blue;
    display: block;

}

.links-wrap {
    border: 1px solid #000;
    text-align: center;
}

.link-like-botton {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
    width: 200px;
    background-color: aquamarine;
    color: #000;
}
.list { /*flex-container*/
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    justify-content: space-between;/*start, end, center*/
    align-items: center;
    border: 1px solid #000;
    width: 400px;
    height: 300px;
}
.list-item {    /*flex-elements*/
    width: 50px;
    border: 1px solid #f00
}
.float-chek {
    text-align: center;
    
}

.wrapper {
    font-size: 24px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: minmax(150px auto);
    gap: 20px;
    min-height: 600px;
    
}

.item {
    border: 2px solid rgb(233, 171, 88);
    border-radius: 5px;
    background-color: rgb(233, 171, 88, 0.5);
    padding: 1em;
    color: #d9480f;
}
.item-four {
;