
/*
    selector{
        Свойство: значение_свойства;
    }

*/
/*h1  {
    color: red;
}
*/
.page-title {
    color:red;
    text-align: center;
}
/* 
    inline style: =1000
    selector: id =100
    selector:class, atribute, pseudoclass =10
    selector :teg, pseudoelement =1
*/
.link{
    font-size: 30px;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    background-color: aquamarine;
    
}
.ul-colors + p {
    color: purple;
}
.text{
    font-size: 18px;
    line-height: 1.5;
}
.link-wrapper{
    text-align: center;
}
#css-chek{
    font-weight: bold;
    font-size: 30px;
    color: violet;
    padding: 1em;
    text-decoration: none;
    line height: 1.5;
}

