*,
::after,
::before {
    box-sizing: border-box;
}

.box{
    background-color: coral;
    width: 400px;
    padding: 10px;
    border: 5px solid #000;
    margin: 20px;
    
}
.page-title {
    /*font-size: 20px;
    font-size: 20pt;
    font-size: 1in;
    font-size: 1cm;
    */
    background-color: aquamarine;
    width: 1em;
    width: 1rem;
    /* viewport width 100vw = 100% of brovser window width*/
    width: 50vw;
    width: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: row;
        
}
.item {
    /*flex-grow: 1;*/
    flex-basis: 300px;
    /*width: 300px;*/
    padding: 15px;
    border: 1px solid #000;
}
.item:first-child {
    /*flex-grow: 3;*/
    align-self: flex-end;
    /*order: 1;*/
}

.item:nth-child(3){
    /*order: 2;*/
}

.item:nth-child(2) {
    order: -1;
}
.table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #a4a4a4
}

.bgd-color {
    background-color: antiquewhite;
}