.footer{
    @include flex;
    flex-direction: column;
    background:$primary-background;

    &__container{
        max-width:685px;
    }

    &__title{
        @include title-style;
        color: #FEFEFE;
        margin-top: 3.1em;
        margin-bottom: 1.2em;
        text-align: center;
    }

    &__text{
    font-size: rem(16);
    line-height:rem(28);
    color: #B9B9B9;
    text-align: center;
    }

    &__icon-wrapper{
        @include flex;
        margin-top: 2.1em;
        gap: 5px;
    }

    &__contacts-wrapper{
        margin-top: 2.1em;
        margin-bottom: 3.4em;
        @include flex;
    }

    &__contacts{
        position:relative;
        font-size: rem(16);
        line-height: rem(26);
        color: #B9B9B9;
    }
}

@media (max-width: 375px) {

    .footer{

        &__contacts-wrapper{
            flex-direction: column;
        }
         &__container{
             max-width:340px;
        }
    }
}