.menu__list{
        @include flex;
        margin-top: 45px;
        margin-bottom: 50px;

	    &-item {
            font-size: rem(11);
            line-height: rem(22);
            text-transform: uppercase;
            margin-left: 4em;
        }
        &-link{
            text-decoration: none;
            color: #4E4E4E;
        }
    }

span{
    color:#57A4A4;
}


.burger{
    @include flex(flex-end);
    display:none;
    margin-bottom: 2.5em;
    
    &__menu {
        @include flex;
        flex-direction: column;
        row-gap: 2px;
        max-width:1em;
        background: $primary-background;
        padding: 0.8em;
    
        &-line {
            width: 17px;
            height: 2px;
            background-color: #fff;
            }
    }
}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 5px;
        right: -800px;
        align-items: flex-start;
        background: #F5F5F5;;
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease-in-out;
        margin: 0;
        
             &__list {
                 flex-direction: column;
                 align-items: flex-start;
                 margin:0;
            } 
            &__list-item{
                margin:0;
            } 

            &__list-link{
                display:block;
                padding: 5px;
                width: 182px;
            }
            
            &__list-link:active{
                background: #E5E5E5;
            }
    }
}

.menu.active {
    opacity: 1;
    pointer-events: all;
    right: 57px;
    top: 30px;
    margin: 0;
}

.cross div:nth-of-type(1){
    transform: translate(3%, 105%) rotate(-45deg);
}
.cross div:nth-of-type(2){
    transform: translate(1%, -88%) rotate(45deg);
}
.cross div:nth-of-type(3){
    display:none
}




@media (max-width: 375px){
    .menu.active{
        right: 26px;
        top: 25px;
        max-width: 180px;
    }
}


