@media (max-width: 768px) {
    .hero-image{
        max-width: 653px;
    }
}

@media (max-width: 375px) {
    .hero-image{
        max-width: 320px;
    }
}

.recent__posts{
    margin-top: 4em;
    margin-bottom: 7.25em;
    
    &-title{
        @include title-style;
        margin-bottom: 1.5em;
    }

    &-wrapper{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.1em;
        justify-items: center;
    }

    &-container{
        @include flex;  
    }

    &-content{
        margin-left: 1.25em;
    }

    &-subtitle{
        font-size: rem(16);
        line-height: rem(30);
        font-weight: bold;
    }

    &-comments{
        font-size: rem(12);
        line-height: rem(20);
        color: #7C7C7C;
    }

    &-text{
        font-size: rem(14);
        line-height: rem(26);
        color: #5C5C5C;
    }

}

@media (max-width: 768px) {
    .recent__posts{
        &-wrapper{
            @include flex(center, start);
            flex-direction: column;
            gap: 2em;
        }
    }
    .tab{
        display: none;
    }
}

@media (max-width: 375px) {
    .mobile{
        display:none;
    }
}

.instagram-shots{
    margin-bottom: 3.1em;
    
    &__text{
        @include flex(space-between);
        margin-bottom: 1.5em;
    }

    &__title{
        @include title-style;
    }

    &__subtitle{
        font-size: rem(13);
        line-height: rem(22);
        color: #4E4E4E;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__picture-wrapper{
        @include flex;
        gap: 0.5em;
    }

    &__shot{
        max-width:280px;
    }
}


@media (max-width: 768px) {
    .instagram-shots__shot{
        max-width:220px;
    }
}

@media (max-width: 375px) {
    .instagram-shots__shot{
        min-width:300px;
    }
}

