* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url(../pictures/background.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header-wrapper {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    padding-block: 18px;
    margin-left: 80px;
}

.main-logo-link {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    transition: 0.5s;
}

.main-logo-link:hover {
    color: #236c47;
}

.header-menu {
    display: flex;
    align-items: center;
}

.menu-logo {
    margin-left: 25px;
    width: 23px;
    height: 23px;
    fill: #ffffff;
    transition: 0.5s;
}

.header-text {
    margin-left: 50px;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin-right: 80px;
    position: relative;
}

.header-text::before{
    content: "";
    width: 1px;
    height: 23px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 197px;
    bottom: -5px;
    opacity: 0.5;  
}

.header-link {
    font-family: "Ubuntu", sans-serif;
    color: #ffffff; 
    font-size: 14px;
    transition: 0.5s;
}

.header-link:hover {
    color: #236c47;
    /*Код не такой как на макете, но цвет именно тот*/
}

.header-link:hover .menu-logo {
    fill: #236c47;
}

.position {
    position: relative;
    height: calc(100vh - 60px);
}

.form-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    text-align: center; 
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    position: absolute;           
    top: 50%;
    left: 50%;                         
    transform: translate(-50%, -50%); 
    width: 480px;
}

.form-wrapper::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 40px;   
}

.form-title {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    color: #434343;
    margin-top: 30px; 
    margin-right: 25px; 
}

.log-in{
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #3CB878;
    margin-top: 35px;
    margin-left: 50px;
    transition: 0.5s;
}

.log-in:hover {
    color: #01813F;
    text-decoration: underline;
}
    
.facebook-link {
    display: inline-block;
    background: #305DB8;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    border-radius: 4px;
    margin-top: 15px;
    padding: 15px;
    width: 160px;
    justify-self: right;
    padding-left: 40px; 
    position: relative;
    transition: 0.5s;
}

.facebook-img {
    width: 12px;
    height: 24px;
    margin-right: 35px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.facebook-link::before {
    content: "";
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    position: absolute;
    left: 40px;
    top: 10px;
}

.facebook-link:hover {
    background: #022263;
}

.google-link {
    display: inline-block;
    background: #DF4A32;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    border-radius: 4px;
    padding: 15px;
    padding-left: 40px; 
    margin-top: 15px;
    width: 160px;
    position: relative;
    transition: 0.5s;
}

.google-img{
    width: 30px;
    height: 19px;
    margin-right: 35px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.google-link::before {
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    left: 50px;
    top: 10px;
}

.google-link:hover {
    background: #AB1F09;
}

.form-text {
    grid-column: 1/-1;
    font-size: 14px;
    color: #848484;
    font-family: "Ubuntu", sans-serif;
    margin-top: 30px;
    position: relative;
}

.form-text::before {
    content: "";
    position: absolute;
    width: 152px;
    height: 1px;
    border-bottom: 1px solid #F2F2F2;;
    left: 65px;
    bottom: 4px;

}

.form-text::after {
    content: "";
    width: 152px;
    height: 1px;
    position: absolute;
    border-bottom: 1px solid #F2F2F2;;
    bottom: 4px;
    right: 65px;
}

.form-area {
    grid-column: 1/-1;
    display: grid;
    gap: 15px;
    margin-top: 10px;
}

.form-field {
    width: 320px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 15px 20px;
    border: none;
    outline: none;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

.form-field::placeholder {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    color: #BEBEBE;

}

.form-field:focus {
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.our-terms {
    margin-top: 10px;
    font-size: 14px;
    font-family: "Verdana";
    color: #434343;
    position: relative;
}

.our-terms::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    position: absolute;
    left: -35px;
    bottom: 0;
    
}

.our-terms::after {
    content: "";
    width: 15px;
    height: 15px;
    background: url(../pictures/checked.svg);
    background-size: 15px 15px;
    fill: #01813F;
    position: absolute;
    left: -31px;
    bottom: 5px;
    opacity: 0;
}

.no-visible {
    appearance: none; 
}

.agreement:checked + .our-terms::after {
    opacity: 1;  
}

.form-link {
    font-family: "Verdana";
    font-size: 14px;
    color: #3CB878;
    transition: 0.5s;
}

.form-link:hover {
    color: #01813F;
    text-decoration: underline;

}

.form-submit {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    grid-column: 1/-1;
    padding: 16px;
    border: none;
    margin: 20px 50px;
    transition: 0.5s;
}

.form-submit:hover {
    background: #01813F;
    cursor: pointer;
}


