* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.main-logo {
    font-size: 80px;
    line-height: 94px;  
}

.logo-color {
    color: #87cefa;
}

.menu-list {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    background-color: #35444F;
}
.menu-list-item {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;    
}

.menu-list-link {
    display: block;
    padding: 20px 40px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    transition: 0.5s;   
}

.menu-list-link:hover {
    background: #222F3A;
}

.main-content-wrapper {
    display: flex; 
}

.asside-list {
    margin-top: 48px;
    margin-right: 52px;
    text-transform: capitalize;
    border: 1px solid #000000;
    width: 344px;
}
.asside-list-link:hover {
    color: #000;
    background: #DBDBDB;
    padding-left: 35px;
}

.asside-list-link {
    display: block;
    font-size: 27px;
    padding: 20px;
    color: #485863;
    transition: 0.5s;
}

.ramda-picture-wrapper {
    margin-top: 48px;
    border: 1px solid #000000;
    text-align: center;
    padding: 75px;  
}
.ramda-picture {
    transition: 0.5s;
    color: transparent;
}
/*По началу задал все свойства враперу, но тогда бордер при увеличении залазил на другие элементы, потому добавил для hover отдельный класс, так по-моему красивее.*/

.ramda-picture:hover {
    transform:scale(1.2)
}


.main-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
}

.foot-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
}

.foot-menu-list {
    display: flex;
    text-align: center
}

.foot-menu-item {
    padding: 20px;
}
.foot-menu-link {
    font-size: 28px;
    transition: 0.5s; 
    
}
.foot-menu-copyright {
    font-size: 24px;
    margin-right: 40px;
}

.foot-menu-link:hover {
    color: #3181A6;
    text-decoration: underline;
}