* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.booking {
    width: 525px;
    margin: 150px auto;
}

.booking-title {
    font-weight: bold;
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    line-height: 45px;
    position: relative;
}

.booking-title::before {
    content: "";
    background: #E8C300;
    border-radius: 4.65928px;
    width: 56px;
    height: 4px;
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
}

.booking-form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 9px;
    margin-top: 30px;

}

.booking-form-field {
    width: 100%;
    padding: 25px 15px;
    background: #E5E5E5;
    border-radius: 4.65928px;
    border: none;
    outline: none;
}

.booking-form-field::placeholder {
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.booking-form-field:focus {
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.booking-form-submit {
    text-transform: uppercase;
    font-weight: bold;
    background: #E8C300;
    border-radius: 4.65928px;
    color: #fff;
    border: none;
    padding-block: 20px;
    grid-column: 1/-1;
}
