* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main-logo {
    display: flex;
    align-items: center;
}

.hero-main-link {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 25px;
}

.hero-logo {
    padding: 20px;
}


.head-menu {
    display: flex;
    justify-content: space-between;
    background-color: #313131;   
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list-link {
    padding: 25px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
}

.menu-list-link:hover {
    color:#14B9D5;
    text-decoration: underline;
}

/*Мне кажется или над иконкой поиска есть ряд пикселей не того цвета, или это просто граница интерфейса моего браузера? Убрать не получается...*/

.search-logo {
    text-align: center;
    width: 68px;
    background-color: #000000;
    padding: 25px;  
}

.search-logo-img {
    color: #FFFFFF;
}

.hero {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Pictures/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: 25% 75%;
    background-attachment: fixed;
    text-align: center;
    padding-top: 175px;
    padding-bottom: 175px;
} 

.hero-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 45px;
    text-transform: uppercase;
} 

.hero-link-wrapper {
    text-align: center;
}
.hero-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 15px;
    background-color: #89CA62;
    border-radius: 5px;
    width: 170px;   
}

.link-style {
    background-color: #14B9D5;
    margin-left: 20px;
}

.section-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

.popular-posts {
    display: flex;
    flex-direction: column;
    height: 900px;
    flex-wrap: wrap;
    margin-top: 52px;
}

.posts-main-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
    
}
.popular-posts-item {
    margin-bottom: 54px;
}

.popular-clients {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Pictures/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 32%;;
    background-size: cover;
    text-align: center;
    padding-top: 175px;
    padding-bottom: 175px;
}

.section-line {
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 0 auto 57px;
    border: none;
}

.popular-client-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;    
}

.top-rated-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 271.85px)); /*В конце противный отступ, я так понимаю, он появился из-за того что нет контейнера.*/
}

.hot-news-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
    "block1 block1 block1 block2 "
    "block3 block3 block4 block4 "
    "block5 block5 block6 block6 "
    "block7 block8 block8 block8 "
}

.hot-news-text {
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: center;
    padding: 15px;
    
}

.hot-news-prophecy {
    display: grid;
    grid-template-columns: repeat(2, 480px);
    grid-area: block1;
    margin-bottom: 45px;
}
.prophecy-text {
    width: 350px;
}

.hot-news-nebula {
    text-align: center;
    grid-area: block2;
    margin-bottom: 45px;
    margin-left: -450px;
    /*Все перепробовал, но грид отказывается соблюдать контейнер и отступ у этой картинки слишком большой, потому пришлось задать минусовый марджин...*/
}

.hot-news-western {
    grid-area: block3;
    margin-bottom: 45px;
    width: 550px;
}

.hot-news-grand {
    grid-area: block4;
    margin-bottom: 45px;
    width: 550px;
}

.hot-news-wanderlust {
    grid-area: block5;
    margin-bottom: 45px;
    width: 550px;
}

.hot-news-twin {
    grid-area: block6;
    margin-bottom: 45px;
    width: 550px;
}

.hot-news-prism {
    grid-area: block7;
    
}

.hot-news-king {
    grid-area: block8;
    display: grid;
    grid-template-columns: repeat(2, 480px);
    margin-left: 60px;
    
}

.king-text {
    width: 350px;
}

.rights {
    margin-top: 75px;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

}

.copyright {
    font-size: 13px;
    color: #FFFFFF;
    padding: 30px;
}

.footer-logo {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    padding: 30px;
   
}

.arrow-up{
    background:url("../Pictures/arrow-circle-up-solid.svg");
    background-repeat: no-repeat;
    position:fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height:40px;
    z-index:9999999;
    display: none;
}

.arrow-up:hover{
    color: orange;
    cursor: pointer;
}