* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.background {
    background-image: url(../Pictures/background\ 1.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.logo-colour {
    display: flex; 
}

.main-logo{
    display: flex;
    margin-top: 50px;
}

.logo-text {
    margin-left: 8px;
}

.contacts {
    margin-left: 600px;
    text-align: right;
}

.head-title {
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
    transition: 0.5s;
}

.head-subtitle {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.5s;
}

.contact-link {
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
    transition: 0.5s;
}

.logo-pic {
    transition: 0.5s;
}

.main-logo-link {
    display: inline-block;
}

.logo-colour:hover .head-title {
    color: #F26522;  
}

.logo-colour:hover .head-subtitle {
    color: #F26522;    
}

.logo-colour:hover .logo-pic{
    background:url(../Pictures/logo\ 2.png);
    background-repeat: no-repeat;
}

.contact-link:hover {
    color: #F26522;
}

.logo-pic {
    background-image: url(../Pictures/logo\ 3.png);
    width: 53px;
    height: 47px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px; 
    justify-items: center;
    align-items: center; 
}

.content-item {
    position: relative;
}

.content-item-pic {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #FFFFFF, #000);
    padding: 5px;
}

.content-hover {
    padding: 15px;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.hover-text {
    font-size: 10px;
    color: #FFFFFF;
}

.hover-price {
    font-size: 20px;
    color: #FFFFFF;
}

.hover-details {
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 128px;
    position: relative;
}

.hover-details::after {
    content: "";
    position: absolute;
    border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
    width: 8px;
	height: 8px;
    transform: rotate(45deg);
    /*top: calc((100% - 8px) / 2); На макете она не ровно по центру, а чуть вверху*/
    top: 20%;
    margin-left: 16px;
}

.item-title {
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    transition: 0.5s;
}

.content-hover {
	width: 100%;
	background: #F26522;
	position: absolute;
	bottom: -100px;
	left: 0;
	transition: 0.5s;
}

.content-item-link:hover .content-hover {
	bottom: 0;
}

.content-item-link:hover .item-title{
    color: #F26522;
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 50px;
}

