/* -webkit-background-clip: text;
background-image: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
color: transparent; */
:root {
    --main-gradient: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
}
* {
	margin: 0;
	padding: 0;
}
.info {
	width: 1200px;
	margin: 150px auto;
	font-family: sans-serif;
}
.info-title {
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 0.2px;
    font-weight: bold;
	text-transform: uppercase;
    text-align: center;
    -webkit-background-clip: text;
    background-image:linear-gradient(90deg, #ec6f66 0%, #f3a183 100%); ;
    color: transparent;
}
.wrapper {
    display: flex;
	background: #ffffff;
	box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
	border-radius: 10px;
	margin-top: 50px;
	padding: 50px;
    justify-content: space-between;
}

.wrapper-item {
    width: calc((100%-80px) /3)

}

.wrapper-item-title {
	font-size: 36px;
	line-height: 28px;
	color: #f7f7fa;
	background: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
	border-radius: 6px;
	padding: 22px;
	display: inline-block;
    margin-bottom: 26px;
}
.wrapper-item-subtitle {
	font-size: 18px;
	line-height: 21px;
	color: #031d5b;
    position: relative;
    margin-bottom: 50px;
}

.wrapper-item-subtitle::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 4px;
    background: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
    bottom: -29px;
    left: 0;
}

.wrapper-item-text {
    font-size: 16px;
    line-height: 28px;
    color: #3A3A44;
}

