* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.menu-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 70px;
    font-weight: bold;
    font-size: 18px;
    margin: 25px;
}

.menu-list-link {
    color: #ff0000;
    text-transform: uppercase;
    margin-left: 70px;
}

.represent {
    text-align: center;
}

.section-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 40px;
    color: #373737;
}

.section-text {
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    margin: 28px;  
}

.section-button {
    display: inline-block;
    background: #ff0000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    padding: 18px 45px;
    margin-bottom: 80px;
    color: #ffff;
    border-radius: 5px;   
}

.copyright {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: right;
    margin: 30px 100px;   
}