.sw{
  position: absolute;
  top: 0;
  left: 0;
}

.background{
    background-image: url(../pictures/star-wars-backgrounds-25.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;   
}

body {
    font-family: 'Roboto';
    overflow: hidden;
    margin: 50% 0 0 0;
  }

  .wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 450px;
  }

  .starfront-text {
    color: #feda4a;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 30s linear infinite;
  }

  .text-title {
    text-align: center;
  }
  
  @keyframes scroll {
      from { top: 0; transform: translateZ(0) rotateX(20deg); }
      to { top: -6000px; transform: translateZ(-2500px) rotateX(21deg); }
  }